<div class="unipay-container">
  <div class="content">
    <h1 class="title">Create Your UniPay Account</h1>
    <p class="subtitle">Secure & seamless payments at SSST's canteen</p>

    <div class="step-section">
      <h2>Step 1. Choose Your Role:</h2>

      <div routerLink="/login" class="role-buttons">
        <button routerLink="/login" class="role-button">
          Canteen Staff
        </button>

        <button routerLink="/login" class="role-button">
          Customers
        </button>

      </div>
    </div>
  </div>
</div>
