<div class="unipay-container">
  <div class="content">
    <h1 class="title">Create Your UniPay Account</h1>
    <p class="subtitle">Secure & seamless payments at SSST's canteen</p>

    <div class="step-section">
      <h2>Step 1. Choose Your Role:</h2>

      <div  class="role-buttons">
        <a routerLink="/register" [queryParams]="{role: 'staff'}" >
        <button  class="role-button">
          Canteen Staff
        </button>
        </a>

        <a routerLink="/register" [queryParams]="{role: 'user'}" >
        <button  class="role-button">
          Customers
        </button>
        </a>

      </div>
    </div>
  </div>
</div>
