<div class="app-container">
  <div class="nav-links">
    <a routerLink="/customer" routerLinkActive="active">Customer View</a>
    <a routerLink="/staff" routerLinkActive="active">Staff View</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
      <a routerLink="/menuItems" routerLinkActive="active">Menu</a>
    <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
  </div>
  <router-outlet></router-outlet>
</div>
